@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Cinzel;
    
}

h2{
    font-family: Cinzel@700;
    letter-spacing: 4px;
    color: #ffffff;

}


/*.............................................bootstrap*/
.navbar-brand{
    float: left;

letter-spacing: 4px;
color: #ffffff;
}
.navbar-brand:hover{
    color:#ce6d0b;
}

.nav-link{
    color:#ffffff;
    font-size: 1rem;
    letter-spacing: 4px;
    list-style-type: none;

}
.nav-link:hover{
    color:#ce6d0b;
}
.navbar.navbar-nav.nav-item.active{
    color:#ce6d0b;
}
a{
    color: #545454;
}
a:hover{
    color:#ce6d0b;
    text-decoration: none;
}