@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');


* {
margin : 0;
padding : 0;
border : 0;
}
body {
font-family : Cinzel;
}
h2, h4 {
text-align : center;
}
h5 {
color : #3f3e3e;
}
p {
text-align : center;
}
a {
color : #ffffff;
}
a:hover {
font-weight : bold;
color : #ffffff;
text-decoration : none;
     color: #ce6d0b;
 
}
.card-text a {
color : #3f3e3e;
}
.card-text a:hover {
font-weight : bold;
color : #3f3e3e;
text-decoration : none;
}
.recomendedMenu a {
color : #3f3e3e;
}

/*Navbar*/



.navbar {
margin-bottom : 0;
width : 100%;
background-color : rgba(50, 50, 50,0.50);
border : 0;
position:fixed;
}

@media (max-width: 575px) {
    .navbar {
    margin-bottom : 0;
width : 100%;
background-color : rgba(50, 50, 50,1);
border : 0;
  }
}
    

.navbar .navbar-toggler {
border : 0;
}
.navbar.navbar-brand {
float : left;

letter-spacing : 4px;
color : #ffffff;
}
.navbar .navbar-brand:hover {
color : #ce6d0b;
}
.navbar .navbar-nav .nav-link {
color : #ffffff;
font-size : 1rem;
letter-spacing : 4px;
list-style-type : none;
}
.navbar .navbar-nav .nav-link:hover {
color : #ce6d0b;
}
.navbar .navbar-nav .nav-item .active {
color : #ce6d0b;
}
.navbar a {
color : #545454;
}
.navbar a:hover {
color : #ce6d0b;
text-decoration : none;
}
/*.....Cart .....*/
@media (min-width: 810px) {
    .moving-cart {
    position: absolute;
    text-align: center;
    transform: translateY(-75%);
  }
}

.moving-cart {
  font-size: 16px ;
  margin-right: 0px;
  color: #ffffff;
}
.moving-cart:hover{
    color : #ce6d0b;
text-decoration : none;
}
/*.....Jumbo images .....*/


.jumbotron {
text-align : center;
background : transparent;
color : #ffffff;
}
.morning-container {
height : 75vh;
background : url("../images/Salata-exotica-site-370x247.jpg") center center no-repeat;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.night-container {
height : 75vh;
background : url("../images/caracatita-vin-site-370x247.jpg") center center no-repeat ;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.blunch-container {
height : 75vh;
background : url("../images/bbq.jpg") center center no-repeat ;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.menu-container {
height : 27vh;
background : url("../images/Burger 3.JPG") center center no-repeat;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.about-container {
height : 75vh;
background : url("../images/about.jpg") center center no-repeat ;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.takeaway-container {
height : 75vh;
background : url("../images/takeaway.jpg") center center no-repeat;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.jumbo-container {
height : 100vh;
background : url("../images/home.jpg") center center no-repeat;
background-size : cover;
display : flex;
align-items : center;
justify-content : center;
position : relative;
}
.opaque-overlay {
position : absolute;
top : 0;
left : 0;
height : 100%;
width : 100%;
background-color : rgb(0, 0, 0, 0.4);
}

.btn--book {
font-size : 1.5rem;
width : 150px;
border-radius : 23px;
text-decoration : none;
}
.btn--orng {
color : #ffffff;
background-color : transparent;
border-color : transparent;
}


/*.......Modal......*/
.btn--modal {
color : #ffffff;
background-color : #ce6d0b;
border-color : #ce6d0b;
}
.btn--orng:hover, .btn--orng:active, .btn--orng:focus, .btn--orng:active:focus {
background-color : #ce6d0b;
border-color : #ce6d0b;
color : #ffffff;
}
.btn--modal:hover, .btn--modal:active, .btn--modal:focus, .btn--modal:active:focus {
color : #ffffff;
background-color : #b35e0a;
}

/*....Map......*/
div #map {
min-height : 360px;
width : 100%;
}
/*....menu......*/
.menu-content {
font-weight : 400;
text-transform : uppercase;
color : #ce6d0b;
}
.menu-content p {
text-align : left;
display : block;
text-transform : none;
font-size : 13px;
padding : 0 0 5px;
line-height : 12px;
font-style : normal;
}

.menu-content .item-price {
float : right;
font-style : normal;
}
.menu-link {
 font-size: 30px;
 }
 
/*....footer......*/
.footer {
background : rgb(0, 0, 0, 0.75);
color : white;
}
.links ul {
list-style-type : none;
text-align : center;
}
.footer a:hover {
color : white;
transition : color 0.2s;
}
.copyright p {
border-top : 1px solid rgb(255, 255, 255, 0.1);
}

/*...............cart........*/

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-row.item-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-qty {
    width: 35%;
}

.item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}


.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}